html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-image: url('images/Background_dots-lines.png');
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

h1 {
    margin: 15px; 
    flex: 1;
}

h2 {
    text-align: center;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    flex-wrap: wrap;
}

.urllinks {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-container input[type="text"] {
    padding: 5px;
    margin-right: 5px;
}

.search-container button {
    padding: 8px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

#signin-btn {
    margin-left: 10px;
}

.second-header {
    background-color: grey; 
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

label {
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    button#signin-btn,
    button#register-btn {
        margin-top: 10px;
        padding: 5px 5px;
    }
}

button#signin-btn,
button#register-btn {
    padding: 5px 5px;
    margin: 0px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button#signin-btn:hover,
button#register-btn:hover {
    background-color: green;
    
}

.buttons-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button#register-btn {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .contact-form {
        width: 90%; 
    }
}

@media screen and (max-width: 480px) {
    input,
    textarea {
        padding: 5px;
        margin-bottom: 8px; 
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
    }
}

input,
textarea {
    padding: 8px;
    margin-bottom: 10px;
}
input:focus,
textarea:focus {
    outline: none;
    border-color: dodgerblue; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6); /
}


button {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightblue;
    color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}